# Collection (LSTD)

# Lists

In [1]:
fruits=['apple', 'orange', 'banana', 'papaya']

In [2]:
fruits[0]

'apple'

In [3]:
fruits[1:3]

['orange', 'banana']

In [4]:
fruits[-3]

'orange'

In [5]:
len(fruits)

4

In [6]:
seasonal_fruits = ['mango', 'cherry', 'watermelon']

In [8]:
all_fruits=seasonal_fruits+fruits

In [9]:
all_fruits

['mango', 'cherry', 'watermelon', 'apple', 'orange', 'banana', 'papaya']

In [10]:
'apple' in all_fruits

True

In [11]:
'guava' in all_fruits

False

In [13]:
all_fruits.index('banana')

5

In [14]:
all_fruits.append('guava')

In [15]:
all_fruits

['mango',
 'cherry',
 'watermelon',
 'apple',
 'orange',
 'banana',
 'papaya',
 'guava']

In [16]:
a = [1,1,2,4,5,6,7]

In [17]:
a

[1, 1, 2, 4, 5, 6, 7]

In [19]:
max(a)

7

In [20]:
min(a)

1

In [21]:
a.count(1)

2

In [27]:
a.reverse()

In [28]:
a

[7, 6, 5, 4, 2, 1, 1]

In [29]:
a.sort()

In [30]:
a

[1, 1, 2, 4, 5, 6, 7]

In [31]:
all_fruits.sort()

In [32]:
all_fruits

['apple',
 'banana',
 'cherry',
 'guava',
 'mango',
 'orange',
 'papaya',
 'watermelon']

In [34]:
all_fruits.reverse()

In [35]:
all_fruits

['watermelon',
 'papaya',
 'orange',
 'mango',
 'guava',
 'cherry',
 'banana',
 'apple']

# Tuple

In [36]:
tup1=(1,2,"orange")

In [37]:
tup1

(1, 2, 'orange')

In [38]:
tupa=tuple(a)

In [39]:
tupa

(1, 1, 2, 4, 5, 6, 7)

# Sets

In [40]:
b = set([6,1,1,2,4,5])

In [41]:
b

{1, 2, 4, 5, 6}

In [42]:
b.add(3)

In [43]:
b

{1, 2, 3, 4, 5, 6}

In [44]:
c = set ([2,4,6,7])

In [45]:
c.union(b)

{1, 2, 3, 4, 5, 6, 7}

In [46]:
c

{2, 4, 6, 7}

In [47]:
b

{1, 2, 3, 4, 5, 6}

In [48]:
b.intersection(c)

{2, 4, 6}

In [49]:
c.difference(b)

{7}

In [50]:
b.difference(c)

{1, 3, 5}

In [51]:
b.remove(1)

In [52]:
b

{2, 3, 4, 5, 6}

In [54]:
b.clear()

In [55]:
b

set()

In [56]:
#Iteration
for i in a:
    print (i+2)

3
3
4
6
7
8
9

In [57]:
b = set([6,1,1,2,4,5])

In [58]:
for i in b :
    print(i)

1
2
4
5
6

# Dictionary

In [59]:
d1 = dict ({'one':1, 'Two':2})

In [61]:
d1

{'one': 1, 'Two': 2}

In [62]:
# Join two lists and create a dictionary
names = ['one', 'Two', 'Three', 'Four', 'Five']
Numbers = [1,2,3,4,5]

In [63]:
d2=dict(zip(names,Numbers))

In [64]:
d2

{'one': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5}

In [66]:
d2.keys()

dict_keys(['one', 'Two', 'Three', 'Four', 'Five'])

In [67]:
d2.values()

dict_values([1, 2, 3, 4, 5])

In [73]:
d2['six']= 6

In [74]:
d2

{'one': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5, 'six': 6}

In [81]:
d2.pop('Two') # Remove an element

2

In [82]:
d2

{'one': 1, 'Three': 3, 'Four': 4, 'Five': 5, 'six': 6}